body {
    margin: 0;
    margin-top: -18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    background-color: #28703C;
}

header ul {                        
    padding: 2%; 
}

header li {                           
    display: inline;
    padding: 40px;
}

header li a {
    text-decoration: none;
    color: #fff;
    font-size: xx-large
}

header li a:hover {
    color: #265935;
}

footer {
    background-color: #28703C;
    float: left;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
}

* {
    box-sizing: border-box;
}

.menu_footer {
    display: flex;
    width: 65%;
    float: left;
    padding: 15px;
    align-items: center;
}

.main {
    width:35%;
    float: left;
    padding: 15px;
}

.menu_footer p {
    list-style-type: none;
    color: #fff;
    font-size: large;
    line-height: 250%;
    padding-left: 3%;
}

.footer_maps {
    width: 350px;
    height: 200px;
    margin-left: 250px;
    border-radius: 15px;
}

.main li {
    text-align: right;
    list-style-type: none;
    color: #fff;
    font-size: large;
    padding-right: 18%;
    padding-top: 2%;
    line-height: 100%;
}

#linha_footer {
    line-height: 450%;
}

.face-insta {
    margin-top: 20px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin-top: -16px;
}

.dropbtn {
    background-color: #28703C;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #28703C;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #28703C;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #265935; 
    color: #fff;
}

.show {
    display: block;
}


h1{
    color: #265935;
}

h2{
    font-weight: bold;
}

p{
    text-align: justify;
    padding-top: 3%;
}

.contain{
    display: flex;
    justify-content: space-between;
    background-color: #E6E6E6;
}

.unifebe{
    text-align: center;
    padding: 4%;
}

.conta{
    display: flex;
    justify-content: center;
    margin: 100px;
}

.conta img {
    margin-left: 100px;
    margin-right: 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#corpo {
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(253, 251, 251, 0.1);
    background-color: #337748;
    align-items: center;
    display: block;
}

#seçao1{
    background-image: url(../img/dog.png);
    height: 568px;
    opacity: 90%;
    margin-top: -16px;
}

#logo1{
    left: 60px;
    top: 143px;
    position: absolute;
    width: 497px;
    height: 196px;
}

.titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    color: #000;
    text-align: left;
    margin-left: 7%;
    
}

.paragrafos{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center, justify;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 0%;
    margin-top: -50px;
}

.paragrafos h4{
    padding-top: 2.5%;
    margin: -2%;
    margin-left: 0%;
}

#imagem-sidnei{
    float: right;
    width: 19%;
    align-items: center;
    margin-left: 2%;
    margin-right: 18;
    margin-top: 2%;
}

.eventos {
    margin-top: 400px;
}

.cards{
    display: flex;
    justify-content: center;
}

.container-card{
    margin-left: 50px;
    border-radius: 10px;
    width: 320px;
    height: 350px;
    margin-bottom: 50px;
    background-color: #265935;
}

.container-card:hover{
    cursor: pointer;
    transition: 0.2s ease;
    transform: scale(1.05);
}


.container-card p {
    padding: 0px 10px;
    font-size: small;
}

.textosuperior-card{
    font-size: 14px;
    padding: 10px;
    color: white;
    text-align: center;
}

.container-card a{
    text-decoration: none;
}

.textoinferior-card{
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 2px;
}

.container-card img{
    width: 100%;
    height: 50%;
}
