.form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(253, 251, 251, 0.1);
    background-color: #337748;
    color: white;
    align-items: center;
    display: block;
    width: 40%;
}

.title{
    background-color: #43995C;
    text-align: center; 
    padding: 1%;
    color: #fff; 
    border-radius: 8px;
    width: 20%;
    margin-top: 5%;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
}

.form-group {
    margin-bottom: 50px;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    height: 150px;
}

button {
    cursor: pointer;
    color: #43995c;
    background-color: white;
    padding: 2%;
    font-size: larger;
    border-bottom-color:#43995C;
    border: 1px solid white;
    border-radius: 4px;
    width: 30%;
}

.button-container {
    text-align: center;
}

button:hover {
    background-color: #265935;
}
.face-insta {
    margin-top: 20px;
}